<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compiler</title>
</head>
<body>
    <form method="POST">
        <label for="lang-select">Choose a language:</label>
        <select name="lang" id="lang-select">
            <option value="java">Java</option>
        </select>
        <textarea id="prog" name="prog" cols="100" rows="20"></textarea>
        <button id="compile-button">Compile</button>
    </form>
</body>
</html>
